@charset "UTF-8";
:root {
  --main-color1: #fa6f39;
  --main-color2: #ff8966; }

@font-face {
  font-family: "Butler";
  src: url("../fonts/Butler_Webfont/Butler-ExtraBold.woff2") format("woff2"), url("../fonts/Butler_Webfont/Butler-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans/OpenSans-Regular.ttf");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "OpenSansBold";
  src: url("../fonts/OpenSans/OpenSans-Bold.ttf");
  font-weight: 600;
  font-style: normal; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none; }

h1 h2 h3 h4 {
  font-family: "Butler";
  font-weight: 800;
  font-style: normal; }

a {
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-weight: bold;
  color: var(--main-color1) !important; }
  @media (max-width: 1300px) {
    a {
      font-size: 0.9rem; } }
  @media (max-width: 1100px) {
    a {
      font-size: 0.8rem; } }

a:hover {
  color: #373636 !important; }

.titulo {
  font-family: "Butler";
  color: #d86745;
  font-size: 60pt;
  text-align: center;
  margin-bottom: 80px; }

.subt {
  font-family: "Butler";
  color: #d86745;
  font-size: 50pt;
  text-align: center;
  margin-bottom: 80px;
  position: absolute;
  top: 1275px;
  left: 900px;
  opacity: 0.4; }

.logo {
  width: 100%; }

.menu {
  position: relative;
  background-color: #f8a58c;
  width: 70px;
  border-radius: 40px;
  transition: 0.3s border-radius ease-in-out, 0.3s height ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-top: 0px; }
  @media (max-width: 550px) {
    .menu {
      width: 60px; } }

.menu-title {
  color: var(--main-color1);
  font-weight: bold;
  padding-top: 0.3rem;
  margin-top: 0.8rem;
  margin-left: 6rem; }
  @media (max-width: 523px) {
    .menu-title {
      font-size: 0.8rem;
      margin-top: 0.7rem;
      margin-left: 5rem; } }

.menu-closed {
  height: 70px; }
  @media (max-width: 550px) {
    .menu-closed {
      height: 60px; } }

.menu-open {
  height: 400px; }

.button {
  transition: 0.3s transform ease-in-out, 0.3s opacity ease-in-out;
  cursor: pointer;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  top: 1px;
  opacity: 1; }

.button:hover {
  opacity: 0.6; }

.menu-open .button {
  transform-origin: center;
  transform: rotate(90deg); }

.tools {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  height: 60%;
  justify-content: space-between;
  transition: 0.3s margin ease-in-out; }

.tools .icon {
  transition: 0.2s transform ease-in-out; }

.tools .icon:hover {
  transform: scale(0.8); }

.tools-hidden {
  margin-top: 400px;
  z-index: -100; }

.tools-visible {
  margin-top: 40%;
  z-index: 100; }

.menu-text {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  margin-bottom: -2rem;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 3px; }

.offcanvas-title {
  color: #e94e10;
  font-weight: bold;
  font-style: italic; }

.background-overlay {
  background: rgba(53, 53, 53, 0.2);
  border-radius: 20px;
  margin-left: 12px;
  margin-right: 12px; }
  .background-overlay .main-header {
    background: url(../images/imagenes_duo/img_header.jpg);
    background-size: cover;
    margin-bottom: 9rem;
    border-radius: 20px;
    padding-left: 12px;
    padding-right: 12px; }
    .background-overlay .main-header .branding {
      width: 25%;
      opacity: 0.5;
      border-radius: 50%;
      margin: 8rem;
      padding: 2rem; }
      @media (max-width: 550px) {
        .background-overlay .main-header .branding {
          width: 60%; } }
      @media (min-width: 551px) {
        .background-overlay .main-header .branding {
          width: 40%; } }
      @media (min-width: 1440px) {
        .background-overlay .main-header .branding {
          width: 25%; } }
    .background-overlay .main-header .title {
      letter-spacing: 8px;
      text-shadow: 3px 3px 3px #373636; }
      @media (max-width: 500px) {
        .background-overlay .main-header .title {
          font-size: 1rem;
          font-weight: bold;
          letter-spacing: 0px; } }

.portfolio {
  margin-bottom: 9rem; }

.carousel-cell-1 {
  width: 25%;
  height: 500px;
  border-radius: 5px;
  counter-increment: gallery-cell; }
  @media (max-width: 1024px) {
    .carousel-cell-1 {
      width: 50%; } }
  @media (max-width: 550px) {
    .carousel-cell-1 {
      width: 100%; } }

.contenedorSeccion {
  padding: 2%;
  display: flex;
  align-items: center; }
  .contenedorSeccion img {
    border-radius: 20px;
    margin-right: 3%;
    width: 50%; }
  .contenedorSeccion p {
    color: #d86745;
    font-family: "OpenSans";
    font-weight: 800;
    margin: 10px;
    font-size: 13pt;
    padding-left: 20px;
    line-height: 35pt;
    text-align: justify; }

.blockquote {
  padding-left: 5%;
  padding-right: 15%; }

.blockquote:before {
  position: absolute;
  font-family: "Butler";
  top: -110px;
  content: "“";
  font-size: 250pt;
  color: rgba(0, 0, 0, 0.1); }

.elDuo {
  position: relative;
  text-align: center;
  font-size: 70pt;
  font-family: "Butler";
  bottom: 123px;
  margin-left: 95px; }
  .elDuo .naranja {
    color: #d86745; }
  .elDuo .blanco {
    color: #ffffff; }

.carousel {
  background: linear-gradient(to right, #d86745, #d867455b), url(http://static.colourlovers.com/images/patterns/50/50713.png?1204572246);
  margin-bottom: 150px;
  padding-top: 50px;
  padding-bottom: 50px; }

.carousel-cell {
  width: 70%;
  height: 200px;
  /* flex-box, center image in cell */
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center; }

.carousel-cell img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  /* dim unselected */
  opacity: 0.7;
  -webkit-transform: scale(0.85);
  transform: scale(0.85);
  -webkit-filter: blur(5px);
  filter: blur(5px);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s, transform 0.3s, -webkit-filter 0.3s, filter 0.3s;
  transition: opacity 0.3s, transform 0.3s, filter 0.3s;
  border-radius: 20px; }

.carousel-cell p {
  color: white;
  line-height: 29pt;
  margin-right: 150px;
  font-size: 16pt;
  text-align: justify;
  font-family: "OpenSans";
  display: block;
  max-width: 100%;
  max-height: 100%;
  /* dim unselected */
  opacity: 0.7;
  -webkit-transform: scale(0.85);
  transform: scale(0.85);
  -webkit-filter: blur(5px);
  filter: blur(5px);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s, transform 0.3s, -webkit-filter 0.3s, filter 0.3s;
  transition: opacity 0.3s, transform 0.3s, filter 0.3s;
  border-radius: 20px; }

/* brighten selected image */
.carousel-cell.is-selected img {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-filter: none;
  filter: none; }

.carousel-cell.is-selected p {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-filter: none;
  filter: none; }

@media screen and (min-width: 768px) {
  .carousel-cell {
    height: 400px; } }

@media screen and (min-width: 960px) {
  .carousel-cell {
    width: 60%; } }

/* buttons, no circle */
.flickity-prev-next-button {
  width: 60px;
  height: 60px;
  background: transparent;
  opacity: 0.6; }

.flickity-prev-next-button:hover {
  background: transparent;
  opacity: 1; }

/* arrow color */
.flickity-prev-next-button .arrow {
  fill: white; }

.flickity-prev-next-button.no-svg {
  color: white; }

/* closer to edge */
.flickity-prev-next-button.previous {
  left: 0; }

.flickity-prev-next-button.next {
  right: 0; }

/* hide disabled button */
.flickity-prev-next-button:disabled {
  display: none; }

.gallery {
  background: #ededed; }

.gallery-cell {
  width: 28%;
  height: 200px;
  margin-right: 10px;
  background: #8c8;
  counter-increment: gallery-cell; }

.gallery-cell.is-selected {
  background: #ed2; }

.servicios {
  display: flex;
  flex-direction: row;
  margin-bottom: 100px; }

.contenedorImagen {
  margin-left: 10px; }

.imagen {
  width: 190%;
  border-radius: 20px;
  margin-left: 10px; }

.contenedorTextos {
  display: flex;
  margin-left: 400px;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly; }
  .contenedorTextos h1 {
    text-align: center;
    font-family: "Butler";
    font-size: 28pt;
    color: #d86745; }
  .contenedorTextos p {
    font-family: "OpenSans";
    font-size: 15pt;
    font-weight: 200;
    line-height: 30px;
    text-align: justify;
    padding-left: 25%;
    padding-right: 25%;
    color: #ff8864; }

.contacto {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 120px; }

.linea {
  border: #d86745 solid 5px;
  background-color: #d86745; }

.divContacto {
  font-size: 35px;
  font-family: "Butler";
  color: #d86745;
  text-align: center; }
  .divContacto p {
    font-family: "OpenSans";
    font-size: 20px;
    line-height: 90px; }
  .divContacto .negrita {
    font-family: "OpenSansBold"; }

.mapa {
  font-size: 35px;
  font-family: "Butler";
  color: #d86745;
  text-align: center; }
  .mapa h1 {
    margin-bottom: 50px; }

footer {
  background-color: #d86745;
  height: 120px; }

.contenedorDuo {
  text-align: center;
  min-height: 70px; }

.marca {
  font-family: "Butler";
  font-size: 35pt;
  color: white; }

.derechos {
  text-align: end;
  margin-right: 15px;
  font-size: 13pt;
  color: #0000009f; }

@media only screen and (min-width: 1024px) {
  .contenedorSeccion {
    padding: 10px;
    display: flex;
    align-items: center; }
    .contenedorSeccion img {
      border-radius: 20px;
      width: 50%; }
    .contenedorSeccion p {
      color: #d86745;
      font-family: "OpenSans";
      font-weight: 800;
      margin: 10px;
      font-size: 13pt;
      padding-left: 20px;
      line-height: 45pt;
      text-align: justify; }
  .blockquote {
    padding-left: 5%;
    padding-right: 15%;
    position: relative; }
  .blockquote:before {
    position: absolute;
    font-family: "Butler";
    top: -110px;
    content: "“";
    font-size: 250pt;
    color: rgba(0, 0, 0, 0.1); }
  .elDuo {
    position: relative;
    text-align: center;
    font-size: 70pt;
    font-family: "Butler";
    bottom: 123px;
    margin-left: 120px; }
    .elDuo .naranja {
      color: #d86745; }
    .elDuo .blanco {
      color: #ffffff; } }

@media only screen and (max-width: 768px) {
  .contenedorSeccion {
    padding: 10px;
    display: flex;
    align-items: center; }
    .contenedorSeccion img {
      border-radius: 20px;
      width: 50%; }
    .contenedorSeccion p {
      color: #d86745;
      font-family: "OpenSans";
      font-weight: 800;
      margin: 2px;
      font-size: 10pt;
      padding-left: 5px;
      line-height: 20pt;
      text-align: justify; }
  .blockquote {
    padding-left: 5%;
    padding-right: 15%;
    position: relative; }
  .blockquote:before {
    position: absolute;
    font-family: "Butler";
    top: -60px;
    content: "“";
    font-size: 150pt;
    color: rgba(0, 0, 0, 0.1); }
  .elDuo {
    position: relative;
    text-align: center;
    font-size: 50pt;
    font-family: "Butler";
    bottom: 80px;
    margin-left: 65px; }
    .elDuo .naranja {
      color: #d86745; }
    .elDuo .blanco {
      color: #ffffff; }
  .servicios {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px; }
  .contenedorImagen {
    margin: 0;
    display: flex;
    justify-content: center; }
  #objetfit img {
    width: 768px;
    height: 290px;
    object-fit: cover;
    background-color: black; }
  .imagen {
    margin: auto;
    width: 80%;
    border-radius: 0%; }
  .contenedorTextos {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly; }
    .contenedorTextos h1 {
      text-align: center;
      font-family: "Butler";
      font-size: 40px;
      color: #d86745;
      margin-top: 40px;
      margin-bottom: 20px; }
    .contenedorTextos p {
      font-family: "OpenSans";
      font-weight: 400;
      font-size: 15pt;
      line-height: 30px;
      text-align: center;
      padding-left: 25%;
      padding-right: 25%; }
  .contacto {
    display: flex;
    flex-direction: column; }
  .linea {
    border: 1px solid #d86745;
    border-radius: 50px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 30px;
    margin-bottom: 30px; }
  .derechos {
    text-align: center;
    font-size: medium; } }

.carousel-cell p {
  margin-left: -50px;
  margin-right: 50px;
  padding: auto; }

.carousel-cell img {
  width: 50%;
  margin-right: 50px; }

#tres {
  margin-right: -50px; }

@media only screen and (max-width: 320px) {
  .titulo {
    font-size: 10pt; }
  .contenedorSeccion {
    padding: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center; }
    .contenedorSeccion img {
      border-radius: 20px;
      width: 95%; }
    .contenedorSeccion p {
      color: #d86745;
      font-family: "OpenSans";
      font-weight: 800;
      margin: 30px;
      font-size: 12pt;
      line-height: 25pt;
      text-align: justify;
      margin-bottom: 30px; }
  .blockquote {
    padding-left: 0%;
    padding-right: 0%; }
  .blockquote:before {
    top: -60px;
    font-size: 150pt; }
  .elDuo {
    font-size: 50pt;
    bottom: 75px;
    margin-left: 10px; }
  .imagen {
    margin: 0;
    width: 100%; }
  #objetfit img {
    width: 768px;
    height: 150px;
    object-fit: cover;
    background-color: black; }
  .contenedorTextos p {
    padding-left: 10%;
    padding-right: 10%;
    font-size: 12pt; }
  .contenedorTextos h1 {
    font-size: 20pt; }
  .carousel-cell p {
    margin-left: auto;
    margin-right: 30px;
    padding: auto;
    font-size: 10pt;
    line-height: 15pt;
    text-align: left; }
  .carousel-cell img {
    width: 80%;
    padding: 0px;
    margin-right: 10px; }
  #tres {
    margin-right: -50px; }
  .googleMaps {
    width: 95%; }
  .derechos {
    font-size: small; } }
