/* Variables */
:root {
  --main-color1: #fa6f39;
  --main-color2: #ff8966;
}

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@import url(./fonts/Butler_Webfont/);

@font-face {
  font-family: "Butler Stencil";
  src: url("ButlerStencil-Bold.woff2") format("woff2"),
    url("ButlerStencil-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

/* General CSS */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
}

h1 h2 h3 {
  font-family: "Butler";
  font-weight: 800;
  font-style: normal;
}

a{
  font-weight: bold;
  color: var(--main-color2) !important;
}

a:hover{
  color: #6e635e !important;
}

/* Header CSS */

.logo{
  width: 80px;
  margin-left: 2rem;
}

.main-header{
  background: url(../img/IMG_5380.jpg);
  background-size: cover;
  border-radius: 13px;
  margin-left: 10px;
  margin-right: 10px;
}

  .background-overlay{
    background: rgba(236, 240, 241,.2);

  }

  .branding{
    width: 300px;
    opacity: .5;
    border-radius: 50%;
    margin: 8rem;
    padding: 2rem;
  }

  .title{
    letter-spacing: 8px;
  }