@import url(./fonts/Butler_Webfont/);
@font-face {
  font-family: "Butler";
  src: url("../fonts/Butler_Webfont/Butler-ExtraBold.woff2") format("woff2"), url("../fonts/Butler_Webfont/Butler-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans/OpenSans-Regular.ttf");
  font-weight: 400;
  font-style: normal; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none; }

.titulo {
  font-family: "Butler";
  color: #d86745;
  font-size: 80pt;
  text-align: center; }

.contenedorSeccion {
  align-items: center;
  display: flex; }
  .contenedorSeccion img {
    border-radius: 20px;
    width: 50%; }
  .contenedorSeccion p {
    color: #d86745;
    font-family: "OpenSans";
    font-weight: 800;
    margin: 150px;
    font-size: 20pt;
    line-height: 40pt;
    text-align: justify; }

.quote {
  font-size: 130pt;
  font-family: "Butler"; }
