// RESPONSIVE

@media only screen and (min-width: 1024px) {
  //   NOSOTRAS
  .contenedorSeccion {
    padding: 10px;
    img {
      border-radius: 20px;
      width: 50%;
    }
    p {
      color: $colorTitulo;
      font-family: "OpenSans";
      font-weight: 800;
      margin: auto;
      font-size: 20pt;
      padding-left: 20px;
      line-height: 45pt;
      text-align: justify;
    }
    display: flex;
    align-items: center;
  }

  .blockquote {
    padding-left: 5%;
    padding-right: 15%;
    position: relative;
  }

  .blockquote:before {
    position: absolute;
    font-family: "Butler";
    top: -110px;
    content: "“";
    font-size: 250pt;
    color: rgba(0, 0, 0, 0.1);
  }
  .elDuo {
    position: relative;
    text-align: center;
    font-size: 70pt;
    font-family: $fontTitulo;
    bottom: 123px;
    margin-left: 120px;
    .naranja {
      color: $colorTitulo;
    }
    .blanco {
      color: #ffffff;
    }
  }
}

@media only screen and (max-width: 1600px) {
  .contenedorSeccion {
    img {
      width: 49%;
    }
    p {
      margin: 2px;
      font-size: 20pt;
      padding-left: 5px;
      line-height: 42pt;
    }
  }
  .elDuo {
    font-size: 50pt;
    bottom: 90px;
    margin-left: auto;
  }
}

@media only screen and (max-width: 1200px) {
  .contenedorSeccion {
    padding: 5px;
    img {
      width: 40%;
    }
    p {
      margin: 2px;
      font-size: 15pt;
      padding-left: 5px;
      line-height: 32pt;
    }
  }
  .elDuo {
    font-size: 50pt;
    bottom: 85px;
    margin-left: 230px;
  }
}

@media only screen and (max-width: 2560px) {
  .contenedorSeccion {
    padding: 5px;
    img {
      width: 50%;
      margin-right: 35px;
    }
    p {
      margin: 2px;
      font-size: 15pt;
      padding-left: 5px;
      line-height: 32pt;
    }
  }
  .elDuo {
    font-size: 50pt;
    bottom: 85px;
    margin-left: auto;
  }
}

// TABLETS

@media only screen and (max-width: 768px) {
  //   NOSOTRAS

  .contenedorSeccion {
    padding: 10px;
    img {
      border-radius: 20px;
      width: 50%;
    }
    p {
      color: $colorTitulo;
      font-family: "OpenSans";
      font-weight: 800;
      margin: 2px;
      font-size: 10pt;
      padding-left: 5px;
      line-height: 20pt;
      text-align: justify;
    }
    display: flex;
    align-items: center;
  }

  .blockquote {
    padding-left: 5%;
    padding-right: 15%;
    position: relative;
  }

  .blockquote:before {
    position: absolute;
    font-family: "Butler";
    top: -60px;
    content: "“";
    font-size: 150pt;
    color: rgba(0, 0, 0, 0.1);
  }
  .elDuo {
    position: relative;
    text-align: center;
    font-size: 50pt;
    font-family: $fontTitulo;
    bottom: 95px;
    margin-left: 30px;
    .naranja {
      color: $colorTitulo;
    }
    .blanco {
      color: #ffffff;
    }
  }
  //   SERVICIOS
  .servicios {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
  }

  .contenedorImagen {
    margin: 0;
    display: flex;
    justify-content: center;
  }
  #objetfit img {
    width: 768px;
    height: 290px;
    object-fit: cover;
    background-color: black;
  }
  .imagen {
    margin: auto;
    width: 80%;
    border-radius: 0%;
  }

  .contenedorTextos {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    h1 {
      text-align: center;
      font-family: "Butler";
      font-size: 40px;
      color: $colorTitulo;
      margin-top: 40px;
      margin-bottom: 20px;
    }
    p {
      font-family: "OpenSans";
      font-weight: 400;
      font-size: 15pt;
      line-height: 30px;
      text-align: center;
      padding-left: 25%;
      padding-right: 25%;
    }
  }

  //   CONTACTO
  .contacto {
    display: flex;
    flex-direction: column;
  }
  .linea {
    border: 1px solid #d86745;
    border-radius: 50px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .derechos {
    text-align: center;
    font-size: medium;
  }
}

.carousel-cell p {
  margin-left: -50px;
  margin-right: 50px;
  padding: auto;
}

.carousel-cell img {
  width: 50%;
  margin-right: 50px;
}
#tres {
  margin-right: -50px;
}

// TELÉFONOS

@media only screen and (max-width: 426px) {
  //   NOSOTRAS
  .titulo {
    font-size: 10pt;
  }
  .contenedorSeccion {
    padding: 0px;
    img {
      border-radius: 20px;
      width: 95%;
    }
    p {
      color: $colorTitulo;
      font-family: "OpenSans";
      font-weight: 800;
      margin: 30px;
      font-size: 12pt;
      line-height: 25pt;
      text-align: justify;
      margin-bottom: 30px;
    }
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }

  .blockquote {
    padding-left: 0%;
    padding-right: 0%;
  }

  .blockquote:before {
    top: -60px;
    font-size: 150pt;
  }
  .elDuo {
    font-size: 50pt;
    bottom: 75px;
    margin-left: 10px;
  }

  //   SERVICIOS

  .imagen {
    margin: 0;
    width: 100%;
  }

  #objetfit img {
    width: 768px;
    height: 150px;
    object-fit: cover;
    background-color: black;
  }

  .contenedorTextos {
    p {
      padding-left: 10%;
      padding-right: 10%;
      font-size: 12pt;
    }
    h1 {
      font-size: 20pt;
    }
  }

  // CLIENTES

  .carousel-cell p {
    margin-left: auto;
    margin-right: 30px;
    padding: auto;
    font-size: 10pt;
    line-height: 15pt;
    text-align: left;
  }

  .carousel-cell img {
    width: 80%;
    padding: 0px;
    margin-right: 10px;
  }
  #tres {
    margin-right: -50px;
  }

  //   CONTACTO
  .googleMaps {
    width: 95%;
  }
  .derechos {
    font-size: small;
  }
}
