/* Header CSS */

.logo{
    width: 100%;
}
 
.menu{
  position: relative;
  background-color: #f8a58c;
  width: 70px;
  border-radius: 40px;
  transition: 0.3s border-radius ease-in-out, 0.3s height ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.menu--closed{
  height: 70px;
}

.menu--open{
  height: 400px;
}

.button{
  transition: 0.3s transform ease-in-out, 0.3s opacity ease-in-out;;
  cursor: pointer;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  top: 1px;
  opacity: 1;
}

.button:hover {
  opacity: 0.6;
}

.menu--open .button{
  transform-origin: center;
  transform: rotate(90deg);
}

.tools{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  height: 60%;
  justify-content: space-between;
  transition: 0.3s margin ease-in-out;
}

.tools .icon{
  transition: 0.2s transform ease-in-out;
}

.tools .icon:hover{
  transform: scale(0.8);
}

.tools--hidden{
  margin-top: 400px;
  z-index: -100;
}

.tools--visible{
  margin-top: 40%;
  z-index: 100;
}

.main-header{
  background: url(../img/img_header.jpg);
  background-size: cover;
  border-radius: 13px;
  margin-left: 10px;
  margin-right: 10px;

  .background-overlay{
    background: rgba(53, 53, 53, 0.2);
    border-radius: 13px;
  
    .branding{
      width: 25%;
      opacity: .5;
      border-radius: 50%;
      margin: 8rem;
      padding: 2rem;

      @media (max-width: 550px){
        width: 60%;
      }

      @media (min-width: 551px){
        width: 40%;
      }

      @media (min-width: 1440px){
        width: 25%;
      }

    }

  }
   
  .title{
    letter-spacing: 8px;

    @media (max-width: 500px){
      font-size: 0.5rem;
      font-weight: bold;
    }

    @media (max-width: 320px){
      font-size: 0.4rem;
      font-weight: bold;
    }
  }

}
  
   
  
    
  