/* Header CSS */

.logo{
    width: 100%;
}
 
.menu{
  position: relative;
  background-color: #f8a58c;
  width: 70px;
  border-radius: 40px;
  transition: 0.3s border-radius ease-in-out, 0.3s height ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-top: 0px;

    @media (max-width: 550px){
      width: 60px;
    }

}

.menu-title{
  color: var(--main-color1);
  font-weight: bold;
  padding-top: 0.3rem;
  margin-top: 0.8rem;
  margin-left: 6rem;

  @media (max-width: 523px){
    font-size: 0.8rem;
    margin-top: 0.7rem;
    margin-left: 5rem;
  }

}

.menu-closed{
  height: 70px;

  @media (max-width: 550px){
    height: 60px;
  }

}

.menu-open{
  height: 400px;
}

.button{
  transition: 0.3s transform ease-in-out, 0.3s opacity ease-in-out;;
  cursor: pointer;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  top: 1px;
  opacity: 1;

}

.button:hover {
  opacity: 0.6;
}

.menu-open .button{
  transform-origin: center;
  transform: rotate(90deg);
}

.tools{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  height: 60%;
  justify-content: space-between;
  transition: 0.3s margin ease-in-out;
}

.tools .icon{
  transition: 0.2s transform ease-in-out;
}

.tools .icon:hover{
  transform: scale(0.8);
}

.tools-hidden{
  margin-top: 400px;
  z-index: -100;
}

.tools-visible{
  margin-top: 40%;
  z-index: 100;
}

.menu-text{
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  margin-bottom: -2rem;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 3px;
}

.offcanvas-title{
  color: #e94e10;
  font-weight: bold;
  font-style: italic;
}

.background-overlay{
    background: rgba(53, 53, 53, 0.2);
    border-radius: 13px;
    margin-left: 12px;
    margin-right: 12px;

  .main-header{
    background: url(../img/img_header.jpg);
    background-size: cover;
    border-radius: 13px;
    padding-left: 12px;
    padding-right: 12px;

      .branding{
        width: 25%;
        opacity: .5;
        border-radius: 50%;
        margin: 8rem;
        padding: 2rem;

        @media (max-width: 550px){
          width: 60%;
        }

        @media (min-width: 551px){
          width: 40%;
        }

        @media (min-width: 1440px){
          width: 25%;
        }

      }

    .title{
      letter-spacing: 8px;
      text-shadow: 3px 3px 3px rgb(55, 54, 54);

      @media (max-width: 500px){
        font-size: 0.5rem;
        font-weight: bold;
      }

      @media (max-width: 320px){
        font-size: 0.4rem;
        font-weight: bold;
      }
    }

  } 

}
  
   
  
    
  