/* General CSS */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url(../fonts/Butler_Webfont/stylesheet.css);
:root {
  --main-color1: #fa6f39;
  --main-color2: #ff8966;
}

/* Fonts */
@font-face {
  font-family: "Butler Stencil";
  src: url("ButlerStencil-Bold.woff2") format("woff2"), url("ButlerStencil-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

h1 h2 h3 h4 {
  font-family: "Butler";
  font-weight: 800;
  font-style: normal;
}

a {
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-weight: bold;
  color: var(--main-color1) !important;
}

a:hover {
  color: #373636 !important;
}

/* Header CSS */
.logo {
  width: 100%;
}

.menu {
  position: relative;
  background-color: #f8a58c;
  width: 70px;
  border-radius: 40px;
  -webkit-transition: 0.3s border-radius ease-in-out, 0.3s height ease-in-out;
  transition: 0.3s border-radius ease-in-out, 0.3s height ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  margin-top: 0px;
}

@media (max-width: 550px) {
  .menu {
    width: 60px;
  }
}

.menu-title {
  color: var(--main-color1);
  font-weight: bold;
  padding-top: 0.3rem;
  margin-top: 0.8rem;
  margin-left: 6rem;
}

@media (max-width: 523px) {
  .menu-title {
    font-size: 0.8rem;
    margin-top: 0.7rem;
    margin-left: 5rem;
  }
}

.menu-closed {
  height: 70px;
}

@media (max-width: 550px) {
  .menu-closed {
    height: 60px;
  }
}

.menu-open {
  height: 400px;
}

.button {
  -webkit-transition: 0.3s opacity ease-in-out, 0.3s -webkit-transform ease-in-out;
  transition: 0.3s opacity ease-in-out, 0.3s -webkit-transform ease-in-out;
  transition: 0.3s transform ease-in-out, 0.3s opacity ease-in-out;
  transition: 0.3s transform ease-in-out, 0.3s opacity ease-in-out, 0.3s -webkit-transform ease-in-out;
  cursor: pointer;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 1px;
  opacity: 1;
}

.button:hover {
  opacity: 0.6;
}

.menu-open .button {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: 0.3s margin ease-in-out;
  transition: 0.3s margin ease-in-out;
}

.tools .icon {
  -webkit-transition: 0.2s -webkit-transform ease-in-out;
  transition: 0.2s -webkit-transform ease-in-out;
  transition: 0.2s transform ease-in-out;
  transition: 0.2s transform ease-in-out, 0.2s -webkit-transform ease-in-out;
}

.tools .icon:hover {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.tools-hidden {
  margin-top: 400px;
  z-index: -100;
}

.tools-visible {
  margin-top: 40%;
  z-index: 100;
}

.menu-text {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-bottom: -2rem;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 3px;
}

.offcanvas-title {
  color: #e94e10;
  font-weight: bold;
  font-style: italic;
}

.background-overlay {
  background: rgba(53, 53, 53, 0.2);
  border-radius: 13px;
  margin-left: 12px;
  margin-right: 12px;
}

.background-overlay .main-header {
  background: url(../img/img_header.jpg);
  background-size: cover;
  border-radius: 13px;
  padding-left: 12px;
  padding-right: 12px;
}

.background-overlay .main-header .branding {
  width: 25%;
  opacity: .5;
  border-radius: 50%;
  margin: 8rem;
  padding: 2rem;
}

@media (max-width: 550px) {
  .background-overlay .main-header .branding {
    width: 60%;
  }
}

@media (min-width: 551px) {
  .background-overlay .main-header .branding {
    width: 40%;
  }
}

@media (min-width: 1440px) {
  .background-overlay .main-header .branding {
    width: 25%;
  }
}

.background-overlay .main-header .title {
  letter-spacing: 8px;
  text-shadow: 3px 3px 3px #373636;
}

@media (max-width: 500px) {
  .background-overlay .main-header .title {
    font-size: 0.5rem;
    font-weight: bold;
  }
}

@media (max-width: 320px) {
  .background-overlay .main-header .title {
    font-size: 0.4rem;
    font-weight: bold;
  }
}

.port-title {
  color: var(--main-color1);
  font-weight: 900;
  letter-spacing: 0.5rem;
}

.carousel-cell {
  width: 25%;
  height: 500px;
  border-radius: 5px;
  counter-increment: gallery-cell;
}

@media (max-width: 1024px) {
  .carousel-cell {
    width: 50%;
  }
}

@media (max-width: 550px) {
  .carousel-cell {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */