@import url(./fonts/Butler_Webfont/);

@font-face {
  font-family: "Butler Stencil";
  src: url("ButlerStencil-Bold.woff2") format("woff2"),
    url("ButlerStencil-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

h1 {
  font-family: "Butler";
  font-weight: 800;
  font-style: normal;
}
